language: python
before_install: sudo apt-get install python-dev python-pip python-setuptools build-essential php5 php5-cli
install: pip install csvkit
script:
  - ./frostline.py
  - tests/filename_validity.sh
  - tests/matching_count.sh
  - tests/valid_json.sh
deploy:
  provider: s3
  bucket: phzmapi.org
  region: us-east-1
  acl: public_read
  on:
    repo: waldoj/frostline
    branch: master
  skip_cleanup: true
  local_dir: api/
  access_key_id: AKIAIGBGXKOUPILDAZ6Q
  secret_access_key:
    secure: JQBgIBSzNXkozPNrataLCpkvv2LS2K7B4njIkXbNLZaqwGV+OX2vBnmC9XVhV5bPxx5t41nIxq0cUuq/yZrpfEyzO86L5PnTNWggW9k0eFp6YV9syH/N63ISvb2hP4XHpNlzwmEcNSoZhwDlWzEb21UH+aQGKRPLkQ/qt+fIPIP6X0N5HAdK9YPicfpn6IgZyB6IJOSaxYJi2p+a17FdI8ccP2DQN+6E57Fho9P7bjWCBbTo3Jdx0Sa7Z5X5PQ79sp86QEpTj5gMxg3Yhgf16f+2ExOKzeKJRz7HXhvBYZFE40v10VCxUDVX1L8Rd2UP1I0WxaAb32mnQuwvcbPQnYO0NvW1RqkLxlORBk+eDkClck+rF+l7MxHNEec3f+q7vvAsEvumqdXyN+Ioi0xJ3a5Jj6Cht34xxI9ovYBIDJZfXJblqWprlw31yvcVqGyxZrDUJa3DnlsKa/parZVt9EmtzF4vK4OmX1ynFm0fExmbey816IYb2oiEEhIf9+6xM9VnYYTAs79DdDistNChtNRhYk3a71PtvsONmGehrEtBtcbXfOMWbZhAh4SUiqo6+YthJ2BGWrHI+j2ifZPbA22IcDVEDAVAmotNbJQmYx3xmItFMs+v5MgcydvEu9CjQstOdsP9gPjuIj/2vAX5hBW7mnl9EzLgpEzAS+/kCAM=
